.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  min-width: 100vw;
}

.box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1.75rem;
  min-height: 2vh;
  width: 25vw;
  background-color: var(--box-color);
  border-radius: 9.6px;
  gap: 1.75rem;
}

.content {
  width: 20vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1.75rem;
}

.img {
  display: inline-block;
  align-items: flex-start;
}

.title {
  color: var(--text-color);
  font-size: 1.5rem;
  font-weight: 900;
}

.subtitle {
  color: var(--text-color);
  font-size: 1.188rem;
  font-weight: 900;
  opacity: 0.67;
}

.description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 0.625rem;
  min-width: 11.704rem;
  min-height: 3.288rem;
  padding: 0;
}

.mainIcons {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 20vw;
}

.display {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 20vw;
  gap: 0.625rem;
}

.display img {
  width: 100%;
}

.time {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.time p {
  color: var(--text-color);
  font-size: 1.4rem;
  font-weight: 900;
  opacity: 0.67;
}

@media (max-width: 850px) {
  .box {
    width: 70vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2.375rem;
  }

  .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .img {
    max-width: 11.813rem;
    max-height: 11.813rem;
  }

  .description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }

  .mainIcons {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 70vw;
  }

  .display {
    width: 60vw;
  }
}
